* {
  font-size: 18px;
}

body{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 256px;
  text-align: center;
  border: 10px solid #282c34;
  background: #282c34;
  border-radius: 10px;
}

.keypad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px, auto);
}

input[type='text']{
  height: 75px;
  width: 250px;
  background-color: #858688;
  border: 0px;
  color: #fff;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear{
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}

#backspace{
  color: #262834;
}

#equal{
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}

button{
  margin: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background:#000;
  color: #fff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active{
  outline: #1f50b3;
}

.highlight{
  background: #61dafb;
  color: #000;
  font-size: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
